{% extends 'components/base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="w-3/4 my-6 mx-auto p-6 bg-white rounded-xl">
    <h1 class="text-3xl font-semibold">About Us</h1>
    <p class="text-xl my-3">Coder Network is a community of software developers getting together to help one another out. The software industry relies on collaboration and networked learning. We provide a place for that to happen.</p>
    <p class="text-xl my-3">Coder Network is built on django, a python web framework. Because our application is open source, you can inspect every little detail of the code, or chip in yourself!</p>
    <p class="text-xl my-3">We believe in transparency and adding value to the ecosystem. We hope you enjoy poking around and participating!</p>
    <h1 class="text-3xl font-semibold">Leadership</h1>
    <div class="flex justify-center">
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--c4zTsjvv--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_800/https://res.cloudinary.com/practicaldev/image/fetch/s--S2Ud7coR--/c_imagga_scale%2Cf_auto%2Cfl_progressive%2Ch_420%2Cq_auto%2Cw_1000/https://thepracticaldev.s3.amazonaws.com/i/0r746whbdtl8uvs98uah.JPG" alt="" class="rounded-xl my-3">
    </div>
    <h1 class="text-3xl font-semibold">Team</h1>
    <div class="flex justify-center">
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--QmM9l7t1--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_800/https://i.imgur.com/d6ZM27K.jpg" alt="" class="rounded-xl my-3">
    </div>
    <p class="text-xl my-3">Our team is distributed around the world. We have no office, but we come together online each day to build community and improve the software careers of millions.</p>
    <p class="text-xl my-3">Happy coding ❤️</p>
</div>

{% endblock %}