{% extends 'components/base.html' %}

{% block title %}Delete Post - {{post.title}}{% endblock %}

{% block content %}

{% if not request.user.is_anonymous and request.user == post.author %}
    <div class="w-3/4 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">Delete Post - {{post.title}}</h1>
        <form action="" method="post">
            {% csrf_token %}
            <h1 class="font-semibold text-3xl">Are you sure want to delele this post ?</h1>
            <br>
            <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Delete</button>
        </form>
    </div>
{% else %}
    <div class="w-3/4 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">You are not allowed to update or delete this post!</h1>
    </div>
{% endif %}

{% endblock %}