{% extends 'components/base.html' %}

{% block title %}Update Profile - {{profile.user.username}}{% endblock %}

{% block content %}

{% if not request.user.is_anonymous and request.user == profile.user %}
    <div class="w-3/4 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">Update Profile - {{profile.user.username}}</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label class="inline-block mb-2">Image</label>
                <br>
                {{form.image}}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Description</label>
                <br>
                {{form.description}}
            </div>
            <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Update</button>
        </form>
    </div>
{% else %}
    <div class="w-3/4 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">You are not allowed to update or delete this profile!</h1>
    </div>
{% endif %}

{% endblock %}
